@charset 'utf-8';
/*
Theme Name:   BestDeals Child
Theme URI:    http://bestdeals.axiomthemes.com/
Description:  BestDeals - Multipurpose and Multiskin Responsive Wordpress theme
Author:       AxiomThemes
Author URI:   http://axionthemes.com
Template:     bestdeals
Version:      1.0.0
Tags:         light, inheritable theme-options
Text Domain:  bestdeals
*/


/* =Theme customization starts here
-------------------------------------------------------------- */




.scheme_blue input[type="tel"] {
    border-color: #e3e4e9;
}
.scheme_blue input[type="tel"] {
    background-color: #f9f9f9;
}
.scheme_blue input[type="tel"] {
    color: #8c8c8c;
}
input[type="tel"] {
    line-height: 1.3em;
}
input[type="tel"] {
    -webkit-appearance: none;
    outline: none;
    resize: none;
    padding: 0.45em 0.5em;
    border: 1px solid #e3e4e9;
        border-top-color: rgb(227, 228, 233);
        border-right-color: rgb(227, 228, 233);
        border-bottom-color: rgb(227, 228, 233);
        border-left-color: rgb(227, 228, 233);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
    border-radius: 0;
}
textarea, select, input[type="tel"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


span .wpcf7-radio {
    justify-content: space-evenly;;
    display: flex;
}

.request-form span .wpcf7-radio {
    justify-content: space-around;
    display: flex;
}

.sc_content .wpb_wrapper table {
	width: 100%;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.sc_content .wpb_wrapper table td {
	width: 50%;
	text-transform: none;
}

.wpb_content_element .wpb_wrapper table {
	width: 100%;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.wpb_content_element .wpb_wrapper table td {
	width: 50%;
	text-transform: none;
}

.social_icons_a {
    width: 2.2em !important;
    height: 2.2em !important;
}

.social_icon_share {
	font-size: 1.4em !important;
}
.social_icons .social_icon_share span {
    font-size: 1.8em !important;
}


/* START SLIDE */
.c-carousel{
  height:500px;
  width:100%;
  position:relative;
  display:flex;
  margin-bottom: 2rem;
}
.c-carousel-item{
  position:absolute;
  left:0;
  top:0;
  opacity:0;
  width:100%;
  height:100%;
  transition:all 0.5s ease-in-out;
}
.c-carousel-item.active{
  opacity:1;
}
.c-carousel-item img{
  position:relative;
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: center;
}
.c-carousel-control-prev{
  position:absolute;
  width:auto;
  padding:0 40px;
  height:100%;
  left:-10px;
  display:flex;
  align-items: center;
  justify-content: center;
  color:#e2e2e2;
  font-size: 40px;
  cursor: pointer;
}
.c-carousel-control-next{
  position:absolute;
  width:auto;
  padding:0 40px;
  height:100%;
  right:-10px;
  display:flex;
  align-items: center;
  justify-content: center;
  color:#e2e2e2;
  font-size: 40px;
  cursor: pointer;
}
.c-carousel-indicators{
  position:absolute;
  bottom:50px;
  left:50%;
  transform:translateX(-50%);
  width:70%;
  height:auto;
  display:flex;
  align-items: center;
  justify-content: center;
}
.c-carousel-indicators ul{
  position:relative;
  width:100%;
  height:100%;
  display:flex;
  align-items: center;
  justify-content: space-around;
}
.c-carousel-indicators ul > li{ 
  padding-left: 0 !important;
}

.c-carousel-indicators ul > li::before {
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
}
.c-carousel-indicator-li{
  position:relative;
  display:inline-block;
  height:auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index:3;
  cursor:pointer;
  transition:all 0.3s ease-in-out;
}
.c-carousel-indicator-li.active{
  transform:scale(1.1);
  border:2px solid #5c3232;
}

.c-carousel-indicator-li{
	list-style: none !important;
    max-height: 100px;
}

/* END SLIDE */

.acf-resume tbody tr td {
    width: auto !important;
    padding: 0.5rem !important;
}

.acf-resume .value{
    text-align: right !important;
}

.acf-resume .resume-price{
    background-color: #a2bf52;
    border-radius: 2px;
    display: inline;
    padding: 0.231em 1em 0.308em;
    color: #fff;
}

.contacts_wrap .logo img {
    height: 80px !important;
    margin-top: -25px;
}

/*.popup_wrap .form_left {*/
/*    float: left;*/
/*    padding-right: 0;*/
/*    width: 100%;*/
/*    border-right: none;*/
/*}*/

/*.popup_wrap {*/
/*    width: 20em !important;*/
/*}*/

.popup_wrap .form_left {
    padding-right: 0;
    width: 100%;
    border-right: none;
}

.cust_social_share {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem !important;
}

.cust_social_share .share_caption {
    font-size: 1.067em !important;
    font-weight: 700 !important;
    line-height: normal !important;
    text-transform: uppercase;
}

.cust_social_share .sc_socials_dir_horizontal {
    vertical-align: top;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cust_social_share .sc_socials.sc_socials_share .sc_socials_item {
    vertical-align: top;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sc_property.sc_property_property-2 .sc_property_item {
}


/* The Modal (background) */
.the_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    padding-top: 15vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.the_modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 33%;
}
@media screen and (max-width: 920px)
{
    .the_modal-content {
        width: 50%;
    }
}

@media screen and (max-width: 540px)
{
    .the_modal-content {
        width: 75%;
    }
}

/* The Close Button */
.the_close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.the_close:hover,
.the_close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.btn_modal_close {
    font-size: 0.867em;
    padding: 1.538em 2.692em 1.615em;
    width: 100%;
    -webkit-box-shadow: 0 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
    box-shadow: 0 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
    display: inline-block;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #343434;
    color: #fff;
}

.the_modal-content p {
    margin-bottom: 0.2rem !important;
}

.the_modal-content p input {
    margin-top: 0.5rem !important;
}