/* Tribe Events
------------------------------------------------------------------------------------ */

/* Hide Tribe breadcrumbs - our more comfortable */
p.tribe-events-back {
	display: none;
}

/* Main template */
#tribe-events-pg-template,
.events-list .tribe-events-loop, .tribe-events-day .tribe-events-loop, .single-tribe_venue .tribe-events-loop, .single-tribe_organizer .tribe-events-loop {
	max-width: none;
}

.tribe-events-day .tribe-events-day-time-slot .vevent {
	margin-left: 0;
}

/* Titles */
.tribe-events-meta-group .tribe-events-single-section-title {
	padding-bottom: 0;
}

h2.tribe-events-page-title, #tribe-geo-results h2.tribe-events-page-title {
	font-weight: 400;
	padding-bottom: 0;
}

.tribe-events-list-separator-month {
	font-weight: 400;
}

#tribe-events-header {
	display: none;
}

.tribe-events-list .type-tribe_events h2 {
	font-size: 3em;
}

/* Buttons and fields */
#tribe-bar-form input[type="text"],
.tribe-events-button, #tribe-events .tribe-events-button {
	font-weight: 400;
}

ul.tribe-events-sub-nav a, .tribe-events-back a, .tribe-events-list-widget .tribe-events-widget-link a, .tribe-events-adv-list-widget .tribe-events-widget-link a {
	font-weight: 400;
	font-size: inherit;
}

.single-tribe_events #tribe-events-header li, .single-tribe_events #tribe-events-footer li {
	width: auto;
}

/* Featured image */
.single-tribe_events .tribe-events-event-image {
	float: right;
	margin: 0 0 2em 2em;
	max-width: 50%;
}

/* Event details */
.tribe-events-event-meta .author {
	margin-bottom: 0;
}

.tribe-events-venue-details .author:after {
	display: none;
}

a.tribe-events-ical, a.tribe-events-gcal {
	margin-top: 0;
}

.tribe-events-loop .tribe-events-event-meta,
.tribe-events-tooltip .duration {
	font-weight: 400;
}

/* Event footer */
#tribe-events-footer h3 {
	display: none;
	margin-top: 0;
	font-size: 1.5em;
}

/* Widgets */
.tribe-events-list-widget ol {
	margin: 0;
	padding: 0;
}

.tribe-events-list-widget ol li {
	margin-bottom: 1.5em;
}

.tribe-events-list-widget .entry-title {
	font-size: 1.15em;
	font-weight: 400;
}

.tribe-events-list-widget .duration {
	font-weight: 400;
}
