@charset "utf-8";

/* Responsive styles
-------------------------------------------------------------- */

/*
Apple iPhone 5, 5S & 5C 
Apple iPod Touch (5th generation)
*/
/* Without side menu */
@media (min-width: 1136px) and (max-width: 1279px) {
	body {	font-size: 14px; }
	
	h1 { font-size: 2.643em; }	/* 37px */
	h2 { font-size: 2.000em; }	/* 28px */
	h3 { font-size: 1.714em; }	/* 24px */
	h4 { font-size: 1.357em; }	/* 19px */
	h5 { font-size: 1.071em; }	/* 15px */
	h6 { font-size: 1.000em; }	/* 14px */
	
}


/*
Apple iPhone 4 & 4S
Apple iPod Touch (4th generation)
*/
/* Without side menu */
@media (min-width: 960px) and (max-width: 1135px) {
	body {	font-size: 13px; }
	
	h1 { font-size: 2.692em; }	/* 35px */
	h2 { font-size: 2.000em; }	/* 26px */
	h3 { font-size: 1.692em; }	/* 22px */
	h4 { font-size: 1.308em; }	/* 17px */
	h5 { font-size: 1.077em; }	/* 14px */
	h6 { font-size: 1.000em; }	/* 13px */
	
	
}



/*
Sony Xperia
LG Optimus
Blackberry Storm 3, Torch 9850 & Torch 9860
Nokia Lumia 610, 710 & 800
HTC Desire, Desire Z, Desire S & One V
Samsung Galaxy
*/
/* With side menu
@media (min-width: 800px) and (max-width: 1279px) {
*/
/* Without side menu */
@media (min-width: 800px) and (max-width: 959px) {
	body {	font-size: 13px; }
	
	h1 { font-size: 2.692em; }	/* 35px */
	h2 { font-size: 2.000em; }	/* 26px */
	h3 { font-size: 1.692em; }	/* 22px */
	h4 { font-size: 1.308em; }	/* 17px */
	h5 { font-size: 1.077em; }	/* 14px */
	h6 { font-size: 1.000em; }	/* 13px */
	
}



/*
Portrait orientation

Sony Xperia
LG Optimus
Blackberry Storm 3, Torch 9850 & Torch 9860
Nokia Lumia 610, 710 & 800
HTC Desire, Desire Z, Desire S & One V
Samsung Galaxy
*/
@media (min-width: 480px) and (max-width: 799px) {
	body {	font-size: 12px; }
	
	h1 { font-size: 2.667em; }	/* 32px */
	h2 { font-size: 2.000em; }	/* 24px */
	h3 { font-size: 1.667em; }	/* 20px */
	h4 { font-size: 1.333em; }	/* 16px */
	h5 { font-size: 1.083em; }	/* 13px */
	h6 { font-size: 1.000em; }	/* 12px */
	
}




/*
Very common low res
*/
@media (max-width: 479px) {
	body {	font-size: 12px; }
	
	h1 { font-size: 2.333em; }	/* 32px */
	h2 { font-size: 2.000em; }	/* 24px */
	h3 { font-size: 1.667em; }	/* 20px */
	h4 { font-size: 1.333em; }	/* 16px */
	h5 { font-size: 1.083em; }	/* 13px */
	h6 { font-size: 1.000em; }	/* 12px */
	
	
	.pt1e { padding-top: 1em; }
	.pt2e { padding-top: 1.5em; }
	.pt3e { padding-top: 2em; }
	.pt4e { padding-top: 2.5em; }
	.pt5e { padding-top: 3em; }
	.pt6e { padding-top: 4em; }

	.pb1e { padding-bottom: 1em; }
	.pb2e { padding-bottom: 1.5em; }
	.pb3e { padding-bottom: 2em; }
	.pb4e { padding-bottom: 2.5em; }
	.pb5e { padding-bottom: 3em; }
	.pb6e { padding-bottom: 4em; }
	
	
}