/* TREX2 (basic) skin for the theme
------------------------------------------------------------------------- */
/* TABLE OF CONTENTS:

1. Theme typography
2. Theme Accent Colors
   2.1 Common colors
3. Form fields settings
7. Section's decorations
   7.1 User and main menu
   7.2 Slider
   7.3 Top panel: Page title and breadcrumbs
   7.4 Main content wrapper
   7.5 Post Formats
   7.6 Post Layouts
   7.7 Paginations
8. Single page parts
   8.1 Attachment and Portfolio post navigation
   8.2 Reviews block
   8.3 Post author
   8.4 Comments
   8.5 Page 404
9. Sidebars
10. Footer areas
11. Utils
12. Registration and Login popups
13. Third party plugins
   13.1 Media player
   13.2 WooCommerce
   13.3 Tribe Events
   13.4 BB Press
14. Predefined classes for users
15. Shortcodes

-------------------------------------------------------------- */




/* 1. Theme typography
-------------------------------------------------------------- */
body {
	.p_font();
	.scheme_color(text);
}

h1 { .h1_font(); .h1_margins(); }
h2 { .h2_font(); .h2_margins(); }
h3 { .h3_font(); .h3_margins(); }
h4 { .h4_font(); .h4_margins(); }
h5 { .h5_font(); .h5_margins(); }
h6 { .h6_font(); .h6_margins(); }


/* Normal state */
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	.scheme_color(text_dark);
}

h1 em {
	.scheme_color(accent1);
}

h6, h6 a {
	.scheme_color(accent1);
}
a, button {
	.transition(all, ease, .3s);
}
a {
	.link_font();
	.scheme_color(accent1);
}
a:hover {
	.scheme_color(accent1_hover);
}

blockquote::before {
	.scheme_color(accent1);
}
blockquote, blockquote p {
	.scheme_color(text_dark);
}

.page_content_wrap ol > li:before,
.content ol > li:before {
	.scheme_color(accent1);
}

/* 2. Theme Accent Colors
------------------------------------------------------------------------- */

/* Accent1 color - use it as background and border with next classes */
.accent1 {			.scheme_color(accent1); }
.accent1_bgc {		.scheme_bg_color(accent1); }
.accent1_bg {		.scheme_bg(accent1); }
.accent1_border {	.scheme_bd_color(accent1); }
a.accent1:hover {	.scheme_color(accent1_hover); }



.textDark {
	.scheme_color(text_dark);
}

/* 2.1 Common colors
-------------------------------------------------------------- */

/* Portfolio hovers */
.post_content.ih-item.circle.effect1.colored .info,
.post_content.ih-item.circle.effect2.colored .info,
.post_content.ih-item.circle.effect3.colored .info,
.post_content.ih-item.circle.effect4.colored .info,
.post_content.ih-item.circle.effect5.colored .info .info-back,
.post_content.ih-item.circle.effect6.colored .info,
.post_content.ih-item.circle.effect7.colored .info,
.post_content.ih-item.circle.effect8.colored .info,
.post_content.ih-item.circle.effect9.colored .info,
.post_content.ih-item.circle.effect10.colored .info,
.post_content.ih-item.circle.effect11.colored .info,
.post_content.ih-item.circle.effect12.colored .info,
.post_content.ih-item.circle.effect13.colored .info,
.post_content.ih-item.circle.effect14.colored .info,
.post_content.ih-item.circle.effect15.colored .info,
.post_content.ih-item.circle.effect16.colored .info,
.post_content.ih-item.circle.effect18.colored .info .info-back,
.post_content.ih-item.circle.effect19.colored .info,
.post_content.ih-item.circle.effect20.colored .info .info-back,
.post_content.ih-item.square.effect1.colored .info,
.post_content.ih-item.square.effect2.colored .info,
.post_content.ih-item.square.effect3.colored .info,
.post_content.ih-item.square.effect4.colored .mask1,
.post_content.ih-item.square.effect4.colored .mask2,
.post_content.ih-item.square.effect5.colored .info,
.post_content.ih-item.square.effect6.colored .info,
.post_content.ih-item.square.effect7.colored .info,
.post_content.ih-item.square.effect8.colored .info,
.post_content.ih-item.square.effect9.colored .info .info-back,
.post_content.ih-item.square.effect10.colored .info,
.post_content.ih-item.square.effect11.colored .info,
.post_content.ih-item.square.effect12.colored .info,
.post_content.ih-item.square.effect13.colored .info,
.post_content.ih-item.square.effect14.colored .info,
.post_content.ih-item.square.effect15.colored .info,
.post_content.ih-item.circle.effect20.colored .info .info-back,
.post_content.ih-item.square.effect_book.colored .info {
	.scheme_bg(accent1);
	.scheme_color(inverse_text);
}

.post_content.ih-item.circle.effect1.colored .info,
.post_content.ih-item.circle.effect2.colored .info,
.post_content.ih-item.circle.effect5.colored .info .info-back,
.post_content.ih-item.circle.effect19.colored .info,
.post_content.ih-item.square.effect4.colored .mask1,
.post_content.ih-item.square.effect4.colored .mask2,
.post_content.ih-item.square.effect6.colored .info,
.post_content.ih-item.square.effect7.colored .info,
.post_content.ih-item.square.effect12.colored .info,
.post_content.ih-item.square.effect13.colored .info,
.post_content.ih-item.square.effect_more.colored .info,
.post_content.ih-item.square.effect_fade.colored:hover .info,
.post_content.ih-item.square.effect_dir.colored .info,
.post_content.ih-item.square.effect_shift.colored .info {
	.scheme_bg(accent1, 0.6);
	.scheme_color(inverse_text);
}

.post_content.ih-item.circle.effect1 .spinner {
	.scheme_bdr_color(accent1);
	.scheme_bdb_color(accent1);
}
.post_content.ih-item .post_readmore .post_readmore_label,
.post_content.ih-item .info a,
.post_content.ih-item .info a > span {
	.scheme_color(inverse_link);
}
.post_content.ih-item .post_readmore:hover .post_readmore_label,
.post_content.ih-item .info a:hover,
.post_content.ih-item .info a:hover > span {
	.scheme_color(inverse_hover);
}


/* Tables */
td, th {
	.scheme_bd_color(bd_color);
}
.sc_table table {
	/*.scheme_color(text_dark);*/
	/*overflow: hidden;*/	/* In Chrome hide right and bottom borders for the table */
}
.content .sc_table table tr:first-child {
	/*.scheme_bg_color(accent1_hover);*/
	.scheme_color(inverse_dark);
}
.content table th:first-of-type,
.content .sc_table table th:first-of-type {
	.scheme_color(accent2);
	.scheme_bg_color(accent1);
}

.content table th:first-of-type a,
.content .sc_table table th:first-of-type a {
	.scheme_color(accent2);
}

/* Table of contents */
pre.code,
#toc .toc_item.current,
#toc .toc_item:hover {
	.scheme_bd_color(accent1);
}


::selection,
::-moz-selection { 
	.scheme_bg_color(accent1);
	.scheme_color(inverse_text);
}

/*---LESS_SEPARATOR---*/



/* 3. Form fields settings
-------------------------------------------------------------- */

input[type="text"],
input[type="number"],
input[type="email"],
input[type="search"],
input[type="password"],
select,
textarea {
	.input_font();
	.scheme_color(alter_text);
	.scheme_bg_color(alter_bg_color);
	.scheme_bd_color(alter_bd_color);
}
input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus {
	.scheme_color(alter_dark);
	.scheme_bg_color(alter_bg_hover);
	.scheme_bd_color(accent1);
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	.scheme_color(alter_text);
}


a[disabled],
.newsletter .sc_emailer .sc_emailer_button[disabled] {
	.scheme_color(text_dark) !important;
}
button[disabled],
input[type="submit"][disabled],
input[type="button"][disabled] {
	.scheme_bg_color(text_dark) !important;
}


/* 6. Page layouts
-------------------------------------------------------------- */
.body_style_boxed .body_wrap {
	.scheme_bg_image();
	.scheme_bg_color(bg_color);
}


/* 7. Section's decorations
-------------------------------------------------------------- */

/* If in the Theme options set "Body filled", else - leave this sections transparent */
.page_wrap,
.copy_wrap,
.sidebar_cart,
.widget_area_inner {
	.scheme_bg_color(bg_color);
}

.article_style_boxed.layout_excerpt .content,
.article_style_boxed[class*="single-"] .content > article,
.article_style_boxed[class*="single-"] .content > .comments_wrap,
.article_style_boxed:not(.layout_excerpt) .content .post_item {
	.scheme_bg_color(bg_color);
}


/* 7.1 Top panel
-------------------------------------------------------------- */

.top_panel_wrap_inner {
	.scheme_bg_color(bg_color);
}
.top_panel_fixed .top_panel_position_over.top_panel_wrap_inner {
	.scheme_bg_color(alter_bg_color) !important;
}

.top_panel_inner_style_3 .top_panel_cart_button,
.top_panel_inner_style_4 .top_panel_cart_button {
	.scheme_bg_color(accent1_hover, 0.2);
}

.top_panel_middle .sidebar_cart:after,
.top_panel_middle .sidebar_cart {
	.scheme_bd_color(bd_color);
	.scheme_bg_color(bg_color);
}

.top_panel_inner_style_3 .top_panel_top,
.top_panel_inner_style_4 .top_panel_top,
.top_panel_inner_style_5 .top_panel_top,
.top_panel_inner_style_3 .top_panel_top .sidebar_cart,
.top_panel_inner_style_4 .top_panel_top .sidebar_cart {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1);
}

.top_panel_top a {
	.scheme_color(text);
}
.top_panel_top a:hover {
	.scheme_color(accent1_hover);
}
.top_panel_inner_style_3 .top_panel_top a,
.top_panel_inner_style_3 .sc_socials.sc_socials_type_icons a,
.top_panel_inner_style_4 .top_panel_top a,
.top_panel_inner_style_4 .sc_socials.sc_socials_type_icons a,
.top_panel_inner_style_5 .top_panel_top a,
.top_panel_inner_style_5 .sc_socials.sc_socials_type_icons a {
	.scheme_color(inverse_text);
}
.top_panel_inner_style_3 .top_panel_top a:hover,
.top_panel_inner_style_3 .sc_socials.sc_socials_type_icons a:hover,
.top_panel_inner_style_4 .top_panel_top a:hover,
.top_panel_inner_style_4 .sc_socials.sc_socials_type_icons a:hover,
.top_panel_inner_style_5 .top_panel_top a:hover,
.top_panel_inner_style_5 .sc_socials.sc_socials_type_icons a:hover {
	.scheme_color(inverse_hover);
}


/* User menu */
.menu_user_nav > li {}

.menu_user_nav > li > a {
	.scheme_color(text);
}
.menu_user_nav > li.current-menu-parent > a,
.menu_user_nav > li.current_page_parent > a,
.menu_user_nav > li.current-menu-item > a,
.menu_user_nav > li.current_page_item > a,
.menu_user_nav > li > a:hover {
	.scheme_bg_color(accent1);
	.scheme_color(accent2);
}
.top_panel_inner_style_3 .menu_user_nav > li > a,
.top_panel_inner_style_4 .menu_user_nav > li > a,
.top_panel_inner_style_5 .menu_user_nav > li > a {
	.scheme_color(inverse_text);
}
.top_panel_inner_style_3 .menu_user_nav > li > a:hover,
.top_panel_inner_style_4 .menu_user_nav > li > a:hover,
.top_panel_inner_style_5 .menu_user_nav > li > a:hover {
	.scheme_color(inverse_hover);
}

.menu_user_nav > li ul:not(.cart_list) {
	.scheme_bd_color(bd_color);
	.scheme_bg_color(accent2);
}
.top_panel_inner_style_1 .menu_user_nav > li > ul:after,
.top_panel_inner_style_2 .menu_user_nav > li > ul:after {
	.scheme_bd_color(bd_color);
	.scheme_bg_color(accent2);
}

.top_panel_inner_style_3 .menu_user_nav > li > ul:after,
.top_panel_inner_style_4 .menu_user_nav > li > ul:after,
.top_panel_inner_style_5 .menu_user_nav > li > ul:after,
.top_panel_inner_style_3 .menu_user_nav > li ul,
.top_panel_inner_style_4 .menu_user_nav > li ul,
.top_panel_inner_style_5 .menu_user_nav > li ul {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1);
	.scheme_bd_color(accent1_hover);
}
.menu_user_nav > li ul li a {
	.scheme_color(alter_text);
}
.menu_user_nav > li ul li a:hover,
.menu_user_nav > li ul li.current-menu-item > a,
.menu_user_nav > li ul li.current-menu-ancestor > a {
	.scheme_color(accent2);
	.scheme_bg_color(accent1);
}
.top_panel_inner_style_3 .menu_user_nav > li ul li a:hover,
.top_panel_inner_style_3 .menu_user_nav > li ul li.current-menu-item > a,
.top_panel_inner_style_3 .menu_user_nav > li ul li.current-menu-ancestor > a,
.top_panel_inner_style_4 .menu_user_nav > li ul li a:hover,
.top_panel_inner_style_4 .menu_user_nav > li ul li.current-menu-item > a,
.top_panel_inner_style_4 .menu_user_nav > li ul li.current-menu-ancestor > a,
.top_panel_inner_style_5 .menu_user_nav > li ul li a:hover,
.top_panel_inner_style_5 .menu_user_nav > li ul li.current-menu-item > a,
.top_panel_inner_style_5 .menu_user_nav > li ul li.current-menu-ancestor > a {
	.scheme_bg_color(accent1_hover);
}

.menu_user_nav > li.menu_user_controls .user_avatar {
	.scheme_bd_color(bd_color);
}
.top_panel_inner_style_3 .menu_user_nav > li.menu_user_controls .user_avatar,
.top_panel_inner_style_4 .menu_user_nav > li.menu_user_controls .user_avatar,
.top_panel_inner_style_5 .menu_user_nav > li.menu_user_controls .user_avatar {
	.scheme_bd_color(inverse_text);
}


/* Bookmarks */
.menu_user_nav > li.menu_user_bookmarks .bookmarks_add {
	.scheme_bdb_color(alter_bd_color);
}


/*---LESS_SEPARATOR---*/


/* Top panel - middle area */
.top_panel_middle {}
.top_panel_position_over.top_panel_middle {
	.scheme_bg_color(alter_bg_color, 0.75);
}
.top_panel_middle .logo {
	.logo_margins();
}
.logo .logo_text {
	.logo_font();
	.scheme_color(text_dark);
}
.logo .logo_text em {
	.scheme_color(accent1);
}
.logo .logo_slogan {
	.scheme_color(text);
}

.top_panel_middle .menu_main_wrap {
	margin-top: @logo_mt*0.75;
}
.top_panel_style_5 .top_panel_middle .logo {
	margin-bottom: @logo_mb*0.5;
}


/* Top panel (bottom area) */
.top_panel_bottom {
	.scheme_bg_color(accent2);
}



/* Top panel image in the header 7  */
.top_panel_image_hover {
	.scheme_bg_color(accent1_hover, 0.8);
}
.top_panel_image_header,
.top_panel_image_title,
.top_panel_over:not(.top_panel_fixed) .top_panel_style_7 .logo_text,
.top_panel_over:not(.top_panel_fixed) .top_panel_style_7 .logo_slogan {
	.scheme_color(inverse_text);
}
.top_panel_image_header a,
.top_panel_image_title > a,
.top_panel_over:not(.top_panel_fixed) .top_panel_style_7 .menu_main_nav > li > a {
	.scheme_color(inverse_link);
}
.post_featured .post_header a:hover,
.top_panel_over:not(.top_panel_fixed) .top_panel_style_7 .menu_main_nav > li > a:hover {
	.scheme_color(inverse_hover);
}




/* Main menu */
.menu_main_nav > li > a {
	padding:@menu_mt 1.5em @menu_mb;
	.menu_font();
	.scheme_color(alter_dark);
}
.menu_main_nav > li > a:hover {
	.scheme_color(alter_hover);
}
.top_panel_inner_style_1 .menu_main_nav > li > a,
.top_panel_inner_style_2 .menu_main_nav > li > a {
	.scheme_color(text_dark);
}
.top_panel_inner_style_1 .menu_main_nav > li > a:hover,
.top_panel_inner_style_2 .menu_main_nav > li > a:hover {
	.scheme_color(accent2);
	.scheme_bg_color(accent1);
}
.menu_main_nav > li ul {
	.scheme_color(alter_dark);
	.scheme_bg_color(alter_bg_color);
	.scheme_bd_color(alter_bd_color);
}
.menu_main_nav > a:hover,
.menu_main_nav > li.sfHover > a,
.menu_main_nav > li#blob,
.menu_main_nav > li.current-menu-item > a,
.menu_main_nav > li.current-menu-parent > a,
.menu_main_nav > li.current-menu-ancestor > a {
	.scheme_color(alter_hover);
}
.top_panel_inner_style_1 .menu_main_nav > li ul,
.top_panel_inner_style_2 .menu_main_nav > li ul {
	.scheme_bg_color(accent2);
}
.top_panel_inner_style_1 .menu_main_nav > a:hover,
.top_panel_inner_style_1 .menu_main_nav > li.sfHover > a,
.top_panel_inner_style_1 .menu_main_nav > li#blob,
.top_panel_inner_style_1 .menu_main_nav > li.current-menu-item > a,
.top_panel_inner_style_1 .menu_main_nav > li.current-menu-parent > a,
.top_panel_inner_style_1 .menu_main_nav > li.current-menu-ancestor > a,
.top_panel_inner_style_2 .menu_main_nav > a:hover,
.top_panel_inner_style_2 .menu_main_nav > li.sfHover > a,
.top_panel_inner_style_2 .menu_main_nav > li#blob,
.top_panel_inner_style_2 .menu_main_nav > li.current-menu-item > a,
.top_panel_inner_style_2 .menu_main_nav > li.current-menu-parent > a,
.top_panel_inner_style_2 .menu_main_nav > li.current-menu-ancestor > a {
	.scheme_color(accent2);
	.scheme_bg_color(accent1);
}
.menu_main_nav > li ul {
	.submenu_font();
}
/*
.menu_main_nav > li > ul {
	top:@menu_mt+@menu_mb+@menu_lh;
}
*/
.menu_main_nav > li ul li a {
	.scheme_color(alter_dark);
	padding:@submenu_mt 1.5em @submenu_mb;
}
.menu_main_nav > li ul li a:hover,
.menu_main_nav > li ul li.current-menu-item > a,
.menu_main_nav > li ul li.current-menu-ancestor > a {
	.scheme_color(alter_hover);
	.scheme_bg_color(alter_bg_hover);
}
.top_panel_inner_style_1 .menu_main_nav > li ul li a,
.top_panel_inner_style_2 .menu_main_nav > li ul li a {
	.scheme_color(text);
	.scheme_bdb_color(bd_color);
}
.top_panel_inner_style_1 .menu_main_nav > li ul li a:hover,
.top_panel_inner_style_1 .menu_main_nav > li ul li.current-menu-item > a,
.top_panel_inner_style_1 .menu_main_nav > li ul li.current-menu-ancestor > a,
.top_panel_inner_style_2 .menu_main_nav > li ul li a:hover,
.top_panel_inner_style_2 .menu_main_nav > li ul li.current-menu-item > a,
.top_panel_inner_style_2 .menu_main_nav > li ul li.current-menu-ancestor > a {
	.scheme_color(accent2);
	.scheme_bg_color(accent1);
	.scheme_bdb_color(accent1);
}


/* Relayout menu */
.top_panel_inner_style_1 .search_wrap,
.top_panel_inner_style_2 .search_wrap {
	.scheme_bd_color(inverse_text, 0.1);
}


/* Responsive menu */
.menu_main_responsive_button {
	margin-top:@menu_mt;
	margin-bottom:@menu_mb;
	.scheme_color(text);
}
.menu_main_responsive_button:hover {	
	.scheme_color(accent1_hover); 
}
.responsive_menu .top_panel_middle .menu_main_responsive_button {
	top: @logo_mt;
}
.responsive_menu .menu_main_responsive_button {
	margin-top:@menu_mt*0.8;
	margin-bottom:@menu_mb*0.6;
}

.top_panel_inner_style_1 .menu_main_responsive_button,
.top_panel_inner_style_2 .menu_main_responsive_button,
.top_panel_inner_style_1 .menu_main_responsive a,
.top_panel_inner_style_2 .menu_main_responsive a,
.top_panel_inner_style_1 .menu_main_responsive li.menu-item-has-children:after,
.top_panel_inner_style_2 .menu_main_responsive li.menu-item-has-children:after {
	.scheme_color(text_dark);
}
.top_panel_inner_style_1 .menu_main_responsive_button:hover,
.top_panel_inner_style_2 .menu_main_responsive_button:hover,	
.top_panel_inner_style_1 .menu_main_responsive a:hover,
.top_panel_inner_style_2 .menu_main_responsive a:hover {
	.scheme_color(accent1); 
}

.menu_main_responsive {
	/*.scheme_bg_color(alter_bg_color);*/
}
.menu_main_responsive li,
.menu_main_responsive a {
	.scheme_color(text); 
}
.menu_main_responsive a:hover {
	.scheme_bg_color(alter_bg_hover); 
}
.top_panel_inner_style_1 .menu_main_responsive,
.top_panel_inner_style_2 .menu_main_responsive {
	/*.scheme_bg_color(accent1);*/
}
.top_panel_inner_style_1 .menu_main_responsive li,
.top_panel_inner_style_1 .menu_main_responsive a,
.top_panel_inner_style_2 .menu_main_responsive li,
.top_panel_inner_style_2 .menu_main_responsive a {
	.scheme_color(text);
	.scheme_bg_color(accent2);
}
.top_panel_inner_style_1 .menu_main_responsive a:hover,
.top_panel_inner_style_2 .menu_main_responsive a:hover {
	.scheme_color(text_dark);
	.scheme_bg_color(bd_color);
}

.top_panel_inner_style_1 .menu_main_responsive a:hover,
.top_panel_inner_style_1 .menu_main_responsive li.sfHover > a,
.top_panel_inner_style_1 .menu_main_responsive li#blob,
.top_panel_inner_style_1 .menu_main_responsive li.current-menu-item > a,
.top_panel_inner_style_1 .menu_main_responsive li.current-menu-parent > a,
.top_panel_inner_style_1 .menu_main_responsive li.current-menu-ancestor > a,
.top_panel_inner_style_2 .menu_main_responsive a:hover,
.top_panel_inner_style_2 .menu_main_responsive li.sfHover > a,
.top_panel_inner_style_2 .menu_main_responsive li#blob,
.top_panel_inner_style_2 .menu_main_responsive li.current-menu-item > a,
.top_panel_inner_style_2 .menu_main_responsive li.current-menu-parent > a,
.top_panel_inner_style_2 .menu_main_responsive li.current-menu-ancestor > a {
	.scheme_color(accent1);
}



/*---LESS_SEPARATOR---*/



/* Contact fields */
.top_panel_middle .contact_field,
.top_panel_middle .contact_field > a {
	.scheme_color(text_dark); 
}

.top_panel_middle .contact_field > a:hover{
	.scheme_color(accent1);
}


.top_panel_middle .contact_field em,
.top_panel_middle .contact_field > a em {
	.scheme_color(text); 
}

.top_panel_middle .contact_icon {
	.scheme_color(accent1);
}

/* Search field */

.content .search_field,
.content .search_submit {}

.content .search_field:focus,
.content .search_submit:hover {}

.content .search_field:focus {
	.scheme_bd_color(accent1);
}

.content .search_submit {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1); 
}
.content .search_submit:hover {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1_hover); 
}

.top_panel_inner_style_1 .search_field,
.top_panel_inner_style_1 .search_submit,
.top_panel_inner_style_2 .search_field,
.top_panel_inner_style_2 .search_submit,
.top_panel_inner_style_4 .search_field,
.top_panel_inner_style_4 .search_submit {
	.scheme_color(text_dark);
}
.top_panel_inner_style_3 .search_field {
	.scheme_color(inverse_text);
}

.top_panel_icon {
	margin: @menu_mt*0.7 0 @menu_mb 1em;
}
.top_panel_icon.search_wrap,
.top_panel_inner_style_5 .menu_main_responsive_button,
.top_panel_inner_style_6 .menu_main_responsive_button,
.top_panel_inner_style_7 .menu_main_responsive_button {
	.scheme_bg_color(bg_color);
	.scheme_color(accent1);
}
.top_panel_icon .contact_icon,
.top_panel_icon .search_submit {
	.scheme_color(accent1);
}
.top_panel_icon.menu_main_cart .contact_icon {
	.scheme_bg_color(bg_color);
}
.top_panel_middle a:hover .contact_icon,
.top_panel_icon.search_wrap:hover,
.top_panel_icon:hover .contact_icon,
.top_panel_icon:hover .search_submit,
.top_panel_inner_style_5 .menu_main_responsive_button:hover,
.top_panel_inner_style_6 .menu_main_responsive_button:hover,
.top_panel_inner_style_7 .menu_main_responsive_button:hover {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1);
}

/* Search field in top panel */

.top_panel_bottom .search_form .search_field {
	.scheme_bd_color(bd_color);
}
.top_panel_bottom .search_form .search_field:focus {
	.scheme_bd_color(accent1);
}
.top_panel_bottom .search_form .search_submit:hover {
	.scheme_color(accent1);
}






/* Search results */
.search_results .post_more,
.search_results .search_results_close {
	.scheme_color(accent1);
}
.search_results .post_more:hover,
.search_results .search_results_close:hover {
	.scheme_color(accent1_hover);
}
.top_panel_inner_style_1 .search_results,
.top_panel_inner_style_1 .search_results:after,
.top_panel_inner_style_2 .search_results,
.top_panel_inner_style_2 .search_results:after,
.top_panel_inner_style_3 .search_results,
.top_panel_inner_style_3 .search_results:after {
	.scheme_color(text);
	.scheme_bg_color(accent2); 
	.scheme_bd_color(bd_color); 
}
.top_panel_inner_style_1 .search_results .post_more,
.top_panel_inner_style_1 .search_results .search_results_close,
.top_panel_inner_style_2 .search_results .post_more,
.top_panel_inner_style_2 .search_results .search_results_close,
.top_panel_inner_style_3 .search_results .post_more,
.top_panel_inner_style_3 .search_results .search_results_close {
	.scheme_color(text);
}
.top_panel_inner_style_1 .search_results .post_more:hover,
.top_panel_inner_style_1 .search_results .search_results_close:hover,
.top_panel_inner_style_2 .search_results .post_more:hover,
.top_panel_inner_style_2 .search_results .search_results_close:hover,
.top_panel_inner_style_3 .search_results .post_more:hover,
.top_panel_inner_style_3 .search_results .search_results_close:hover {
	.scheme_color(text_dark);
}


/* Fixed menu */
.top_panel_fixed .menu_main_wrap {
	padding-top:@menu_mt*0.3;
}
.top_panel_fixed .top_panel_wrap .logo {
	margin-top: @menu_mt*0.6;
	margin-bottom: @menu_mb*0.6;
}





/* 7.2 Slider
-------------------------------------------------------------- */
.tparrows.default {
	.scheme_color(bg_color);
}
.tp-bullets.simplebullets.round .bullet {
	/*.scheme_bg_color(bg_color);*/
}
.tp-bullets.simplebullets.round .bullet.selected {
	/*.scheme_bd_color(bg_color);*/
}


/* 7.3 Top panel: Page title and breadcrumbs
-------------------------------------------------------------- */

.top_panel_title_inner {}

.top_panel_title_inner .page_title {
	.scheme_color(alter_dark);
}

.top_panel_title_inner .breadcrumbs a.breadcrumbs_item {
	.scheme_color(text);
}
.top_panel_title_inner .breadcrumbs a.breadcrumbs_item:hover {
	.scheme_color(accent1_hover);
}
.top_panel_title_inner .breadcrumbs span {
	.scheme_color(accent1);
}
.top_panel_title_inner .breadcrumbs .breadcrumbs_delimiter {
	.scheme_color(text);
}





/* 7.4 Main content wrapper
-------------------------------------------------------------- */

/* Layout Excerpt */
.post_title .post_icon {
	.scheme_color(accent1);
}

.post_title_top .post_title {
	.scheme_bd_color(bd_color);
}


/* Blog pagination */
.pagination > a {
	.scheme_bd_color(accent1);
}


/*---LESS_SEPARATOR---*/


/* 7.5 Post formats
-------------------------------------------------------------- */

/* Aside */
.post_format_aside.post_item_single .post_content p,
.post_format_aside .post_descr {
	.scheme_bd_color(accent1);
	.scheme_bg_color(bg_color);
}

.post_item_single > .post_title {
	.scheme_bdb_color(bd_color);
}


/* 7.6 Posts layouts
-------------------------------------------------------------- */

.post_info {
	.info_font();
	/*.info_margins();*/
}
.post_counters_views,
.post_info a,
.post_info a > span {
	.scheme_color(accent1);
}
.post_info a[class*="icon-"] {
	.scheme_color(accent1);
}
.post_info a:hover {
	.scheme_color(accent1_hover);
}
.post_item .post_readmore_label {
	.scheme_color(text_dark);
}
.post_item .post_readmore:hover .post_readmore_label {
	.scheme_color(accent1_hover);
}
.post_counters_item,
.post_counters_item:before {
	.scheme_color(accent1);
}



/* Related posts */
.post_item_related .post_info a {
	.scheme_color(text);
}
.post_item_related .post_info a:hover,
.post_item_related .post_title a:hover {
	.scheme_color(accent1_hover);
}
.related_wrap .post_item_related,
.article_style_stretch .post_item_related {
	.scheme_bg_color(alter_bg_color);
}
.article_style_boxed.sidebar_show[class*="single-"] .related_wrap .post_item_related {
	.scheme_bg_color(bg_color);
}


/* Style "Colored" */
.isotope_item_colored .post_featured .post_mark_new,
.isotope_item_colored .post_featured .post_title,
.isotope_item_colored .post_content.ih-item.square.colored .info {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1);
}
.isotope_item_colored .post_featured .post_title a {
	.scheme_color(inverse_text);
}

.isotope_item_colored .post_category a,
.isotope_item_colored .post_rating .reviews_stars_bg,
.isotope_item_colored .post_rating .reviews_stars_hover,
.isotope_item_colored .post_rating .reviews_value {
	.scheme_color(accent1);
}

.isotope_item_colored .post_featured .post_descr {
	.scheme_bg_color(bg_color);
}
.isotope_item_colored .post_info_wrap .post_button .sc_button {
	.scheme_color(accent1);
	.scheme_bg_color(bg_color);
}

.isotope_item_colored_1 .post_title a {
	.scheme_color(accent1);
}
.isotope_item_colored_1 .post_title a:hover,
.isotope_item_colored_1 .post_category a:hover {
	.scheme_color(accent1_hover);
}


/* Masonry and Portfolio */
.isotope_wrap .isotope_item_colored_1 .post_featured {
	.scheme_bd_color(accent1);
}
.sc_blogger.template_masonry .post_title {
	.scheme_bdb_color(bd_color);
}

.post_item.post_item_masonry,
.post_item.post_item_classic,
.sc_blogger.template_masonry .post_item {
	.scheme_bd_color(accent2);
}
.post_item.post_item_masonry .post_title,
.post_item.post_item_classic .post_title,
.sc_blogger.template_masonry .post_title {
	.scheme_bdb_color(bd_color);
}








/* Isotope filters */
.isotope_filters a {
	.scheme_bd_color(accent1);
	.scheme_bg_color(accent1);
	.scheme_color(inverse_text);
}
.isotope_filters a.active,
.isotope_filters a:hover {
	.scheme_bd_color(accent1_hover);
	.scheme_bg_color(accent1_hover);
}


/* Property /3 columns/ */
.post_item_property {
	.scheme_bg_color(accent2);
}
.property_status_list {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1);
}
.post_item_property .property_area,
.post_item_property .property_price {
	.scheme_color(accent1);
}
.post_item_property .property_price span {
	.scheme_color(text);
}
.post_item_property .property_meta {
	.scheme_color(text_dark);
}



/* sc property search box */

.sc_property_search_content {
	.scheme_color(text_dark);
}
#sc_property_search_location,
#sc_property_search_type_single,
#sc_property_search_bedrooms,
#sc_property_search_bathrooms {
	.scheme_bg_color(bg_color);
}



/* sc property info box */
.sc_property_info_box_price {
	.scheme_color(accent1);
}
.sc_property_info_box_price span {
	.scheme_color(text_dark);
}
.sc_property_info_item_area {
	.scheme_color(accent1);
}
.sc_property_info_area_meta .sc_property_item_meta {
	.scheme_color(text_dark);
}
.sc_property_info_area_meta .sc_property_item_meta .bedrooms:before,
.sc_property_info_area_meta .sc_property_item_meta .bathrooms:before,
.sc_property_info_area_meta .sc_property_item_meta .garages:before {
	.scheme_color(text);
}


/* sc property */
.sc_property.sc_property_property-1 {}
.sc_property.sc_property_property-1 .sc_property_item {
	.scheme_bg_color(accent2);
}
.sc_property.sc_property_property-1 .sc_property_item_status {
	.scheme_bg_color(accent1);
	.scheme_color(inverse_text);
}
.sc_property.sc_property_property-1 .sc_property_item_price {
	.scheme_color(accent1);
}
.sc_property.sc_property_property-1 .sc_property_item_price span {
	.scheme_color(text);
}
.sc_property.sc_property_property-1 .sc_property_item_area {
	.scheme_color(accent1);
}
.sc_property.sc_property_property-1 .sc_property_item_meta {
	.scheme_color(text_dark);
}
.sc_property.sc_property_property-1 .sc_property_item_meta .bedrooms:before,
.sc_property.sc_property_property-1 .sc_property_item_meta .bathrooms:before,
.sc_property.sc_property_property-1 .sc_property_item_meta .garages:before {
	.scheme_color(text);
}
.sc_property.sc_property_property-1 .sc_property_item .sc_property_item_title a:hover {
	.scheme_color(accent1);
}

.sc_property.sc_property_property-2 .sc_property_item {
	.scheme_bg_color(accent2);
}
.sc_property.sc_property_property-2 .sc_property_item_price {
	.scheme_color(accent1);
}
.sc_property.sc_property_property-2 .sc_property_item_price span {
	.scheme_color(text);
}
.sc_property.sc_property_property-2 .sc_property_item_title {
	.scheme_color(text_dark);
}
.sc_property.sc_property_property-2 .sc_property_item_title a {
	.scheme_color(text_dark);
}
.sc_property.sc_property_property-2 .sc_property_item_title a:hover {
	.scheme_color(accent1);
}
.sc_property.sc_property_property-2 .sc_property_item_area {
	.scheme_color(accent1);
}
.sc_property.sc_property_property-2 .sc_property_item_meta {
	.scheme_color(text_dark);
}
.sc_property.sc_property_property-2 .sc_property_item_btn {
	.scheme_color(inverse_link);
	.scheme_bg_color(accent1);
}
.sc_property.sc_property_property-2 .sc_property_item_btn:hover {
	.scheme_bg_color(accent1_hover);
}


.sc_property.sc_property_property-3 {
	.scheme_bg_color(accent2);
}
.sc_property.sc_property_property-3 .sc_property_title {
	.scheme_bdb_color(bd_color);
	.scheme_color(text_dark);
}
.sc_property.sc_property_property-3 .sc_property_item {
	.scheme_bdb_color(bd_color);
}
.sc_property.sc_property_property-3 .sc_property_item .sc_property_item_title {
	.scheme_color(text);
}
.sc_property.sc_property_property-3 .sc_property_item a {
	.scheme_color(text);
}
.sc_property.sc_property_property-3 .sc_property_item a:hover {
	/*.scheme_color(accent1_hover);*/
	.scheme_color(inverse_hover);
}
.sc_property.sc_property_property-3 .sc_property_item_price {
	.scheme_color(accent1);
}






















/* 7.7 Paginations
-------------------------------------------------------------- */

/* Style 'Pages' and 'Slider' */

.pagination_single > .pager_numbers,
.pagination_single a,
.pagination_slider .pager_cur,
.pagination_pages > a,
.pagination_pages > span {
	.scheme_color(text);
}

.pagination_single > .pager_numbers,
.pagination_single a:hover,
.pagination_slider .pager_cur:hover,
.pagination_slider .pager_cur:focus,
.pagination_pages > .active,
.pagination_pages > a:hover {
	.scheme_bg_color(accent1);
	.scheme_color(inverse_text);
}

.pagination_wrap .pager_next,
.pagination_wrap .pager_prev,
.pagination_wrap .pager_last,
.pagination_wrap .pager_first {
	.scheme_color(text);
}

.pagination_wrap .pager_next:hover,
.pagination_wrap .pager_prev:hover,
.pagination_wrap .pager_last:hover,
.pagination_wrap .pager_first:hover {
	.scheme_color(accent1_hover);
}




/* Style 'Load more' */
.pagination_viewmore > a {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1);
}
.pagination_viewmore > a:hover {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1_hover);
}

/* Loader picture */
.viewmore_loader,
.mfp-preloader span,
.sc_video_frame.sc_video_active:before {
	.scheme_bg_color(accent1_hover);
}


/* Video player
-------------------------------------------------------------- */
.sc_video_player .hover_icon:hover:before {
	.scheme_color(accent1);
}



/* 8 Single page parts
-------------------------------------------------------------- */


/* 8.1 Attachment and Portfolio post navigation
------------------------------------------------------------- */
.post_featured .post_nav_item {
	.scheme_color(inverse_text);
}
.post_featured .post_nav_item:before {
	border-color:transparent;
	.scheme_bg_color(accent1);
	.scheme_color(inverse_text);
}
.post_featured .post_nav_item .post_nav_info {
	.scheme_bg_color(accent1);
}


/* 8.2 Reviews block
-------------------------------------------------------------- */
.reviews_block .reviews_summary .reviews_item {
	.scheme_bg_color(accent2);
}
.reviews_block .reviews_max_level_100 .reviews_stars_hover,
.reviews_block .reviews_item .reviews_slider {
	.scheme_color(text);
	.scheme_bg_color(accent2);
}
.reviews_block .reviews_item .reviews_stars_hover {
	.scheme_color(accent1);
}
.reviews_block .reviews_value {
	.scheme_color(text_dark);
}
.reviews_block .reviews_summary .reviews_criteria {
	.scheme_color(text);
}
.reviews_block .reviews_summary .reviews_value {
	.scheme_color(text_dark);
}

/* Summary stars in the post item (under the title) */
.post_item .post_rating .reviews_stars_bg,
.post_item .post_rating .reviews_stars_hover,
.post_item .post_rating .reviews_value {
	.scheme_color(accent1);
}


/*---LESS_SEPARATOR---*/


/* 8.3 Post author
-------------------------------------------------------------- */
.post_author {
	.scheme_color(accent2);
}
.post_author .post_author_title,
.post_author .post_author_title a {
	.scheme_color(accent2);
}
.post_author .post_author_title a:hover {
	.scheme_color(inverse_hover);
}


/*
.post_author .post_author_title a {
	.scheme_color(accent1);
}
.post_author .post_author_title a:hover {
	.scheme_color(accent1_hover);
}
*/



/* 8.4 Comments
-------------------------------------------------------- */

.comments_list_wrap .comments_list_title,
.comments_wrap .comments_form_title {
	.scheme_bdb_color(bd_color);
}
.comments_list_wrap ul.children,
.comments_list_wrap ul > li + li {
	.scheme_bdt_color(accent1);
}
.comments_list_wrap .comment-respond {
	.scheme_bdb_color(accent1);
}
.comments_list_wrap > ul {
	.scheme_bdb_color(accent1);
}
.comments_list_wrap .comment_info > span.comment_author,
.comments_list_wrap .comment_info > .comment_date > .comment_date_value {
	.scheme_color(accent1);
}






/* 8.5 Page 404
-------------------------------------------------------------- */
.post_item_404 .page_title,
.post_item_404 .page_subtitle {
	font-family: @logo_ff;
	.scheme_color(accent1);
}
.post_item_404 .page_subtitle {
	.scheme_color(text_dark);
}
.post_item_404 .page_description {
	.scheme_color(text);
}





/* 9. Sidebars
-------------------------------------------------------------- */

/* Side menu */
.sidebar_outer_menu .menu_side_nav > li > a,
.sidebar_outer_menu .menu_side_responsive > li > a {
	.menu_font();
}
.sidebar_outer_menu .menu_side_nav li > a,
.sidebar_outer_menu .menu_side_responsive li > a {
	.scheme_color(text_dark);
}
.sidebar_outer_menu .menu_side_nav li > a:hover,
.sidebar_outer_menu .menu_side_nav li.sfHover > a,
.sidebar_outer_menu .menu_side_responsive li > a:hover,
.sidebar_outer_menu .menu_side_responsive li.sfHover > a {
	.scheme_color(alter_dark);
	.scheme_bg_color(alter_bg_hover);
}
.sidebar_outer_menu .menu_side_nav > li ul,
.sidebar_outer_menu .menu_side_responsive > li ul {
	.scheme_color(text_dark);
	.scheme_bg_color(bg_color);
	.scheme_bd_color(bd_color);
}
.sidebar_outer_menu .menu_side_nav li.current-menu-item > a,
.sidebar_outer_menu .menu_side_nav li.current-menu-parent > a,
.sidebar_outer_menu .menu_side_nav li.current-menu-ancestor > a,
.sidebar_outer_menu .menu_side_responsive li.current-menu-item > a,
.sidebar_outer_menu .menu_side_responsive li.current-menu-parent > a,
.sidebar_outer_menu .menu_side_responsive li.current-menu-ancestor > a {
	.scheme_color(text_light);
}
.sidebar_outer_menu .menu_side_nav > li ul,
.sidebar_outer_menu .menu_side_responsive > li ul {
	.submenu_font();
}
.sidebar_outer_menu .menu_side_nav > li ul li a,
.sidebar_outer_menu .menu_side_responsive > li ul li a {
	padding:@submenu_mt 1.5em @submenu_mb;
}
.sidebar_outer_menu .sidebar_outer_menu_buttons > a {
	.scheme_color(text_dark);
}
.sidebar_outer_menu .sidebar_outer_menu_buttons > a:hover {
	.scheme_color(accent1);
}





/* 9. Sidebars
-------------------------------------------------------------- */

/* Common rules */

/* zzz 2 */
.widget_area .widget_bg {
	.scheme_bg_color(accent2);
}
.widget_area .widget h5 {
	.scheme_bdb_color(bd_color);
}
.widget_area .widget_bg > ul li a {
	.scheme_color(text);
}
.widget_area .widget_bg > ul li a:hover {
	.scheme_color(inverse_hover);
}
.widget_recent_entries .widget_bg ul li,
.widget_recent_comments .widget_bg ul li {
	.scheme_bdb_color(bd_color);
}
.widget_area .widget_bg > ul > li,
.widget_area .widget_bg > div > ul > li {
	.scheme_color(accent1);
}

/* BestDEALS - Recent Posts */
.widget_area .post_item {
	.scheme_bdb_color(bd_color);
}
.widget_area .post_item .post_content a {
	.scheme_color(text);
}
.widget_area .post_item .post_content a:hover {
	.scheme_color(text_dark);
}


/* Widget: Calendar */
.widget_area .widget_calendar thead tr:first-of-type {
	.scheme_bg_color(accent1);
}
.widget_area .widget_calendar thead tr:first-of-type th {
	.scheme_color(inverse_text);
}
.widget_area .widget_calendar thead tr:first-of-type th a {
	.scheme_color(inverse_link);
}
.widget_area .widget_calendar thead tr:first-of-type th a:hover {
	.scheme_color(inverse_hover);
}
.widget_area .widget_calendar .month_prev a:before {
	.scheme_bdr_color(inverse_text);
}
.widget_area .widget_calendar .month_next a:before {
	.scheme_bdl_color(inverse_text);
}
.widget_area .widget_calendar .month_prev a:hover:before {
	.scheme_bdr_color(text_dark);
}
.widget_area .widget_calendar .month_next a:hover:before {
	.scheme_bdl_color(text_dark);
}


/* Widget: Tag Cloud */
.widget_tag_cloud .tagcloud a {
	.scheme_color(text);
}
.widget_tag_cloud .tagcloud a:hover {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1);
}


/* Widget: Search */
.widget_area .widget_search .search_form .search_field {
	.scheme_bg_color(accent2);
}
.widget_area .widget_search .search_form .search_button {
	.scheme_color(text_dark);
}
.widget_area .widget_search .search_form .search_button:hover {
	.scheme_color(accent1);
}


/* Widget: Reviews */
.widget_area .widget_reviews {
	.scheme_bg_color(accent2);
}
.widget_area .widget_reviews .reviews_editor .reviews_criteria {
	.scheme_color(text_dark);
}
.widget_reviews ul.sc_tabs_titles {
	.scheme_bdb_color(bd_color);
}


/* Left or Right sidebar */
.sidebar_outer_inner aside,
.sidebar_inner aside {
	.scheme_bdt_color(bd_color);
}

/*---LESS_SEPARATOR---*/


/* 10. Footer areas
-------------------------------------------------------------- */

/* Contacts */
.contacts_wrap_inner {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1);
}

.contacts_wrap_inner .logo .logo_text em,
.contacts_wrap_inner .logo .logo_slogan {
	.scheme_color(inverse_text);
}

[class*="scheme_"] .contacts_address a{
	.scheme_color(inverse_text);
 }

[class*="scheme_"] .contacts_address a:hover{
	.scheme_color(text_dark);
}

/* Testimonials and Twitter */
.testimonials_wrap_inner,
.twitter_wrap_inner {
	.scheme_color(text);
	.scheme_bg_color(bg_color);
}

/* Copyright */
.copyright_wrap_inner {}

.copyright_wrap_inner .copyright_text {
    .scheme_color(text);
}
.copyright_wrap_inner .menu_footer_nav li a {
    .scheme_color(text);
}
.copyright_wrap_inner .menu_footer_nav li a:hover {
    .scheme_color(accent1);
}
.copyright_wrap .contact_field {
	.scheme_color(text_dark);
}
.copyright_wrap .contact_field .contact_icon {
	.scheme_color(accent1);
}
.copyright_wrap .contact_field em {
	.scheme_color(text);
}
.copyright_wrap.copyright_style_socials .sc_socials.sc_socials_type_icons a {
	border-color: #e0e2e4;
	background: #e0e2e4;
	color: #95a0aa;
}





/* 11. Utils
-------------------------------------------------------------- */

/* Scroll to top */
.scroll_to_top {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1);
	border:none;
}
.scroll_to_top:hover {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1_hover);
}




/* 12. Registration and Login popups
-------------------------------------------------------------- */
.popup_wrap {
	.scheme_bg_color(accent2);
}




/* 13. Third party plugins
------------------------------------------------------- */

.sc_audio_player {
	.scheme_bg_color(accent2);
}



/* 13.2 WooCommerce
------------------------------------------------------ */

/* Theme colors */
.woocommerce .woocommerce-message:before, .woocommerce-page .woocommerce-message:before,
.woocommerce div.product span.price, .woocommerce div.product p.price, .woocommerce #content div.product span.price, .woocommerce #content div.product p.price, .woocommerce-page div.product span.price, .woocommerce-page div.product p.price, .woocommerce-page #content div.product span.price, .woocommerce-page #content div.product p.price,.woocommerce ul.products li.product .price,.woocommerce-page ul.products li.product .price,
.woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce #content input.button.alt:hover, .woocommerce-page a.button.alt:hover, .woocommerce-page button.button.alt:hover, .woocommerce-page input.button.alt:hover, .woocommerce-page #respond input#submit.alt:hover, .woocommerce-page #content input.button.alt:hover,
.woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce #content input.button:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover, .woocommerce-page #respond input#submit:hover, .woocommerce-page #content input.button:hover,
.woocommerce .quantity input[type="button"]:hover, .woocommerce #content input[type="button"]:hover, .woocommerce-page .quantity input[type="button"]:hover, .woocommerce-page #content .quantity input[type="button"]:hover,
.woocommerce ul.cart_list li > .amount, .woocommerce ul.product_list_widget li > .amount, .woocommerce-page ul.cart_list li > .amount, .woocommerce-page ul.product_list_widget li > .amount,
.woocommerce ul.cart_list li span .amount, .woocommerce ul.product_list_widget li span .amount, .woocommerce-page ul.cart_list li span .amount, .woocommerce-page ul.product_list_widget li span .amount,
.woocommerce ul.cart_list li ins .amount, .woocommerce ul.product_list_widget li ins .amount, .woocommerce-page ul.cart_list li ins .amount, .woocommerce-page ul.product_list_widget li ins .amount,
.woocommerce.widget_shopping_cart .total .amount, .woocommerce .widget_shopping_cart .total .amount, .woocommerce-page.widget_shopping_cart .total .amount, .woocommerce-page .widget_shopping_cart .total .amount,
.woocommerce a:hover h3, .woocommerce-page a:hover h3,
.woocommerce .cart-collaterals .order-total strong, .woocommerce-page .cart-collaterals .order-total strong,
.woocommerce .checkout #order_review .order-total .amount, .woocommerce-page .checkout #order_review .order-total .amount,
.woocommerce .star-rating, .woocommerce-page .star-rating, .woocommerce .star-rating:before, .woocommerce-page .star-rating:before,
.widget_area_inner .widgetWrap ul > li .star-rating span, .woocommerce #review_form #respond .stars a, .woocommerce-page #review_form #respond .stars a
{
	.scheme_color(accent1);
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range,.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range
{ 
	.scheme_bg_color(accent1);
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle
{
	.scheme_bg(accent1);
}

.woocommerce .woocommerce-message, .woocommerce-page .woocommerce-message,
.woocommerce a.button.alt:active, .woocommerce button.button.alt:active, .woocommerce input.button.alt:active, .woocommerce #respond input#submit.alt:active, .woocommerce #content input.button.alt:active, .woocommerce-page a.button.alt:active, .woocommerce-page button.button.alt:active, .woocommerce-page input.button.alt:active, .woocommerce-page #respond input#submit.alt:active, .woocommerce-page #content input.button.alt:active,
.woocommerce a.button:active, .woocommerce button.button:active, .woocommerce input.button:active, .woocommerce #respond input#submit:active, .woocommerce #content input.button:active, .woocommerce-page a.button:active, .woocommerce-page button.button:active, .woocommerce-page input.button:active, .woocommerce-page #respond input#submit:active, .woocommerce-page #content input.button:active
{ 
	.scheme_bdt_color(accent1);
}

/* Buttons */
.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page #content input.button.alt, .woocommerce-account .addresses .title .edit {
	.scheme_bg_color(accent1);
	.scheme_color(inverse_text);
}
.woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce #content input.button:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover, .woocommerce-page #respond input#submit:hover, .woocommerce-page #content input.button:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce #content input.button.alt:hover, .woocommerce-page a.button.alt:hover, .woocommerce-page button.button.alt:hover, .woocommerce-page input.button.alt:hover, .woocommerce-page #respond input#submit.alt:hover, .woocommerce-page #content input.button.alt:hover, .woocommerce-account .addresses .title .edit:hover {
	.scheme_bg_color(accent1_hover);
	.scheme_color(inverse_text);
}


/* Messages */
.article_style_boxed.woocommerce .woocommerce-error, .article_style_boxed.woocommerce .woocommerce-info, .article_style_boxed.woocommerce .woocommerce-message,
.article_style_boxed.woocommerce-page .woocommerce-error, .article_style_boxed.woocommerce-page .woocommerce-info, .article_style_boxed.woocommerce-page .woocommerce-message {
	.scheme_bg_color(alter_bg_color);
}
.article_style_boxed.woocommerce.archive .woocommerce-error, .article_style_boxed.woocommerce.archive .woocommerce-info, .article_style_boxed.woocommerce.archive .woocommerce-message,
.article_style_boxed.woocommerce-page.archive .woocommerce-error, .article_style_boxed.woocommerce-page.archive .woocommerce-info, .article_style_boxed.woocommerce-page.archive .woocommerce-message {
	.scheme_bg_color(bg_color);
}

/* Products stream */
.woocommerce span.new, .woocommerce-page span.new,
.woocommerce span.onsale, .woocommerce-page span.onsale {
	.scheme_bg_color(accent1_hover);
	.scheme_color(inverse_text);
}
.article_style_boxed.woocommerce ul.products li.product .post_item_wrap, .article_style_boxed.woocommerce-page ul.products li.product .post_item_wrap {
	.scheme_bg_color(bg_color);
}

.woocommerce ul.products li.product h3 a, .woocommerce-page ul.products li.product h3 a,
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price,
.woocommerce ul.products li.product .star-rating:before, .woocommerce ul.products li.product .star-rating span {
	.scheme_color(accent1);
}
.woocommerce ul.products li.product h3 a:hover, .woocommerce-page ul.products li.product h3 a:hover {
	.scheme_color(accent1_hover);
}

.woocommerce ul.products li.product .add_to_cart_button, .woocommerce-page ul.products li.product .add_to_cart_button {
	.scheme_bg_color(accent1);
}
.woocommerce ul.products li.product .add_to_cart_button:hover, .woocommerce-page ul.products li.product .add_to_cart_button:hover {
	.scheme_bg_color(accent1_hover);
}

/* Pagination */
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span.current {
	.scheme_bd_color(accent1);
	.scheme_bg_color(accent1);
	.scheme_color(inverse_text);
}
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
	.scheme_color(accent1);
	.scheme_bg_color(bg_color);
}

/* Single product */
.woocommerce div.product .woocommerce-tabs .panel, .woocommerce #content div.product .woocommerce-tabs .panel, .woocommerce-page div.product .woocommerce-tabs .panel, .woocommerce-page #content div.product .woocommerce-tabs .panel {
	.scheme_bd_color(bd_color);
}

/* Cart */
.woocommerce table.cart thead th, .woocommerce #content table.cart thead th, .woocommerce-page table.cart thead th, .woocommerce-page #content table.cart thead th {
	.scheme_bg_color(accent1);
	.scheme_color(inverse_text);
}

/* Widgets */
.top_panel_inner_style_4 .widget_shopping_cart .empty,
.top_panel_inner_style_4 .widget_shopping_cart .quantity,
.top_panel_inner_style_4 .widget_shopping_cart .quantity .amount,
.top_panel_inner_style_4 .widget_shopping_cart .total,
.top_panel_inner_style_4 .widget_shopping_cart .total .amount {
	.scheme_color(inverse_text);
}


/*---LESS_SEPARATOR---*/


/* 13.3 Tribe Events
------------------------------------------------------- */
.tribe-events-calendar thead th {
	.scheme_bg_color(accent1);
}

/* Buttons */
a.tribe-events-read-more,
.tribe-events-button,
.tribe-events-nav-previous a,
.tribe-events-nav-next a,
.tribe-events-widget-link a,
.tribe-events-viewmore a {
	.scheme_bg_color(accent1);
	.scheme_color(inverse_text);
}
a.tribe-events-read-more:hover,
.tribe-events-button:hover,
.tribe-events-nav-previous a:hover,
.tribe-events-nav-next a:hover,
.tribe-events-widget-link a:hover,
.tribe-events-viewmore a:hover {
	.scheme_bg_color(accent1_hover);
	.scheme_color(inverse_text);
}




/* 13.4 BB Press and Buddy Press
------------------------------------------------------- */

/* Buttons */
#bbpress-forums div.bbp-topic-content a,
#buddypress button, #buddypress a.button, #buddypress input[type="submit"], #buddypress input[type="button"], #buddypress input[type="reset"], #buddypress ul.button-nav li a, #buddypress div.generic-button a, #buddypress .comment-reply-link, a.bp-title-button, #buddypress div.item-list-tabs ul li.selected a {
	.scheme_bg(accent1);
	.scheme_color(inverse_text);
}
#bbpress-forums div.bbp-topic-content a:hover,
#buddypress button:hover, #buddypress a.button:hover, #buddypress input[type="submit"]:hover, #buddypress input[type="button"]:hover, #buddypress input[type="reset"]:hover, #buddypress ul.button-nav li a:hover, #buddypress div.generic-button a:hover, #buddypress .comment-reply-link:hover, a.bp-title-button:hover, #buddypress div.item-list-tabs ul li.selected a:hover {
	.scheme_bg(accent1_hover);
	.scheme_color(inverse_text);
}



/* 15. Shortcodes
-------------------------------------------------------------- */


/* Accordion */
.sc_accordion.sc_accordion_style_1 .sc_accordion_item .sc_accordion_title {
	.scheme_color(text_dark);
	.scheme_bg_color(accent2);
}
.sc_accordion.sc_accordion_style_1 .sc_accordion_item .sc_accordion_title:hover {
	.scheme_color(accent1);
}
.sc_accordion.sc_accordion_style_1 .sc_accordion_item .sc_accordion_title .sc_accordion_icon_a {
	.scheme_color(accent1);
}
.sc_accordion.sc_accordion_style_1 .sc_accordion_item .sc_accordion_title .sc_accordion_icon_a:before {
	.scheme_bg_color(bd_color);
}
.sc_accordion.sc_accordion_style_1 .sc_accordion_item .sc_accordion_title .sc_accordion_icon_a:after {
	.scheme_color(text_dark);
}
.sc_accordion.sc_accordion_style_1 .sc_accordion_item .sc_accordion_title .sc_accordion_icon {
	.scheme_bg_color(accent1);
}
.sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_title {
	.scheme_bd_color(bd_color);
	.scheme_color(text_dark);
}
.sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_title:hover {
	.scheme_color(accent1);
}
.sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_title.ui-state-active {
	.scheme_bd_color(accent2);
}
.sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_title .sc_accordion_icon {
	.scheme_color(text_dark);
}
.sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_title.ui-state-active .sc_accordion_icon {
	.scheme_color(accent2);
	.scheme_bg_color(accent1);
}
.sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_content {
	.scheme_bg_color(accent2);
}





/* Audio */
.sc_audio .sc_audio_author_name,
.sc_audio .sc_audio_title {
	.scheme_color(accent1);
}
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current, .mejs-controls .mejs-time-rail .mejs-time-current {
	.scheme_bg(accent1) !important;
}


/* Button */
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.sc_button {
	.button_font();
}
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.sc_button.sc_button_style_filled {
	border:none;
	.scheme_bg_color(accent1);
	.scheme_color(inverse_text);
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.sc_button.sc_button_style_filled:hover {
	.scheme_bg_color(accent1_hover);
	.scheme_color(inverse_text);
}
.sc_button.sc_button_style_border {
	.scheme_bd_color(accent1);
	.scheme_color(accent1);
}
.sc_button.sc_button_style_border:hover {
	.scheme_bd_color(accent1_hover) !important;
}



/* Blogger */
.sc_blogger.layout_date .sc_blogger_item .sc_blogger_date { 
	.scheme_bg_color(accent1);
	.scheme_bd_color(accent1);
	.scheme_color(inverse_text);
}
.sc_blogger.layout_date .sc_blogger_item .sc_blogger_date .year:before {
	.scheme_bd_color(inverse_text);
}
.sc_blogger.layout_date .sc_blogger_item::before {
	.scheme_bg_color(alter_bg_color);
}
.sc_blogger_item.sc_plain_item {
	.scheme_bg_color(alter_bg_color);
}


/* Call to Action */
.sc_call_to_action .sc_call_to_action_descr {
	.scheme_color(text_dark);
}
.sc_call_to_action_accented {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1);
}
.sc_call_to_action_accented .sc_item_title,
.sc_call_to_action_accented .sc_item_subtitle,
.sc_call_to_action_accented .sc_item_descr {
	.scheme_color(inverse_text);
}
.sc_call_to_action_accented .sc_item_button > a {
	.scheme_color(accent1);
	.scheme_bg_color(inverse_text);
}
.sc_call_to_action_accented .sc_item_button > a:before {
	.scheme_bg_color(accent1);
	.scheme_color(inverse_text);
}

/* Chat */
.sc_chat:after {
	.scheme_bg_color(alter_bg_color);
	.scheme_bd_color(alter_bd_color);
}
.sc_chat_inner {
	.scheme_color(alter_text);
	.scheme_bg_color(alter_bg_color);
	.scheme_bd_color(alter_bd_color);
}
.sc_chat_inner a {
	.scheme_color(alter_link);
}
.sc_chat_inner a:hover {
	.scheme_color(alter_hover);
}


/*---LESS_SEPARATOR---*/


/* Clients */
.sc_clients_style_clients-2 .sc_client_image .sc_client_hover {
	.scheme_color(inverse_text);
	.scheme_bg_color(text_dark, 0.8);
}
.sc_clients_style_clients-2 .sc_client_title,
.sc_clients_style_clients-2 .sc_client_title a {
	.scheme_color(inverse_text);
}
.sc_clients_style_clients-2 .sc_client_title a:hover {
	.scheme_color(accent1);
}
.sc_clients_style_clients-2 .sc_client_description:before,
.sc_clients_style_clients-2 .sc_client_position {
	.scheme_color(accent1);
}

/* Contact form */
.sc_contact_form .sc_contact_form_button button { 
	.scheme_color(inverse_link);
	.scheme_bg_color(accent1);
}
.sc_contact_form .sc_contact_form_button button:hover { 
	.scheme_color(inverse_link);
	.scheme_bg_color(accent1_hover);
}
.sc_contact_form .sc_contact_form_address_label,
.sc_contact_form .sc_contact_form_item > label {
	.scheme_color(text_dark);
}
.sc_contact_form .sc_contact_form_item .sc_contact_form_element input[type="radio"] + label:before,
.sc_contact_form .sc_contact_form_item .sc_contact_form_element input[type="checkbox"] + label:before {
	.scheme_bd_color(alter_bd_color);
	.scheme_bg_color(alter_bg_color);
}
.sc_contact_form_select_container {
	.scheme_bg_color(alter_bg_color);
}

/* Countdown Style 1 */
.sc_countdown.sc_countdown_style_1 .sc_countdown_digits,
.sc_countdown.sc_countdown_style_1 .sc_countdown_separator {
	.scheme_color(accent1);
}
.sc_countdown.sc_countdown_style_1 .sc_countdown_digits {
	.scheme_bd_color(alter_bd_color);
	.scheme_bg_color(alter_bg_color);
}
.sc_countdown.sc_countdown_style_1 .sc_countdown_label {
	.scheme_color(accent1);
}

/* Countdown Style 2 */
.sc_countdown.sc_countdown_style_2 .sc_countdown_separator {
	.scheme_color(accent1, 0.8);
}
.sc_countdown.sc_countdown_style_2 .sc_countdown_digits span {
	.scheme_bg_color(accent1, 0.5);
}
.sc_countdown.sc_countdown_style_2 .sc_countdown_label {
	.scheme_color(accent1, 0.8);
}

/* Dropcaps */
.sc_dropcaps .sc_dropcaps_item {
	.scheme_color(text_dark);
}
.sc_dropcaps.sc_dropcaps_style_1 .sc_dropcaps_item {
	.scheme_color(text_dark);
}
.sc_dropcaps.sc_dropcaps_style_2 .sc_dropcaps_item {
	.scheme_color(accent1);
} 
.sc_dropcaps.sc_dropcaps_style_3 .sc_dropcaps_item {
	.scheme_color(accent1);
} 
.sc_dropcaps.sc_dropcaps_style_4 .sc_dropcaps_item {
	.scheme_color(accent2);
	.scheme_bg_color(accent1);
} 



/* Emailer */
.newsletter {
	.scheme_bg_color(accent1);
}
.sc_emailer.sc_emailer_opened .sc_emailer_checkbox,
.newsletter .sc_emailer h2 {
	.scheme_color(inverse_text);
}

.newsletter .sc_emailer input {
	.scheme_bg_color(accent2);
}

.newsletter .sc_emailer .sc_emailer_button {
	.scheme_color(inverse_link);
}
.newsletter .sc_emailer .sc_emailer_button:hover {
	.scheme_color(inverse_hover);
}



/* Highlight */
.sc_highlight_style_1 {
	.scheme_bg_color(accent1);
	.scheme_color(accent2);
}
.sc_highlight_style_2 {
	.scheme_color(accent1);
}
.sc_highlight_style_3 {
	.scheme_bg_color(bd_color);
}
.sc_tooltip_parent {
	.scheme_color(accent1);
	.scheme_bdb_color(accent1);
}
.sc_tooltip_parent .sc_tooltip {
	.scheme_bg_color(text_dark);
	.scheme_color(accent2);
}



/* Icon */
.sc_icon_hover:hover,
a:hover .sc_icon_hover {
	.scheme_color(inverse_text) !important;
	.scheme_bg_color(accent1) !important; 
}

.sc_icon_shape_round.sc_icon,
.sc_icon_shape_square.sc_icon {	
	.scheme_bg_color(accent1);
	.scheme_bd_color(accent1);
	.scheme_color(inverse_text);
}

.sc_icon_shape_round.sc_icon:hover,
.sc_icon_shape_square.sc_icon:hover,
a:hover .sc_icon_shape_round.sc_icon,
a:hover .sc_icon_shape_square.sc_icon {	
	.scheme_color(accent1);
	.scheme_bg_color(bg_color);
}


/* Image */
figure figcaption,
.sc_image figcaption {
	.scheme_bg_color(accent1, 0.6);
}


/* Infobox */
.sc_infobox.sc_infobox_style_regular,
.sc_infobox.sc_infobox_style_info,
.sc_infobox.sc_infobox_style_result
{
	.scheme_color(text);
}
div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing,
.sc_infobox.sc_infobox_style_error {
	.scheme_color(accent2);
	.scheme_bg_color(accent1);
	.scheme_bd_color(accent1);
}
span.wpcf7-not-valid-tip {
	.scheme_color(accent1);
}

div.wpcf7-mail-sent-ok {
	.scheme_color(accent2);
	.scheme_bg_color(text_dark);
	.scheme_bd_color(text_dark);
}

.sc_infobox.sc_infobox_style_result {
	.scheme_color(text);
	.scheme_bg_color(accent2);
}


.sc_infobox.sc_infobox_style_regular.sc_infobox_iconed::before,
.sc_infobox.sc_infobox_style_info.sc_infobox_iconed::before,
.sc_infobox.sc_infobox_style_result.sc_infobox_iconed::before,
.sc_infobox.sc_infobox_style_regular strong,
.sc_infobox.sc_infobox_style_info strong,
.sc_infobox.sc_infobox_style_result strong
{
	.scheme_color(text_dark);
}

/* List */
.sc_list_style_iconed li:before,
.sc_list_style_iconed .sc_list_icon {
	.scheme_color(accent1);
}
.sc_list_style_iconed li .sc_list_title {
	.scheme_color(text_dark);
}
.sc_list_style_iconed li a:hover .sc_list_title {
	.scheme_color(accent1_hover);
}


/* Line */
.sc_line {
	.scheme_bd_color(bd_color);
}

/* Popup */
.sc_popup:before {
	.scheme_bg_color(accent1);
}


/* Price */
.sc_price .sc_price_currency, .sc_price .sc_price_money, .sc_price .sc_price_penny {
	.scheme_color(text_dark);
}
.sc_price .sc_price_info {
	.scheme_color(text_light);
}

/* Price block */
.sc_price_block.sc_price_block_style_1 {
	.scheme_bg_color(accent2);
}
.sc_price_block.sc_price_block_style_1 .sc_price_block_title {
	.scheme_color(text_dark);
}
.sc_price_block.sc_price_block_style_1 .sc_price_block_money .sc_price .sc_price_currency,
.sc_price_block.sc_price_block_style_1 .sc_price_block_money .sc_price .sc_price_money,
.sc_price_block.sc_price_block_style_1 .sc_price_block_money .sc_price .sc_price_info .sc_price_penny,
.sc_price_block.sc_price_block_style_1 .sc_price_block_money .sc_price .sc_price_info .sc_price_period {
	.scheme_color(accent1);
}
.sc_price_block.sc_price_block_style_1 .sc_price_block_description hr {
	.scheme_bg_color(bd_color);
}


/* Section */
.sc_section_inner {
	.scheme_color(text);
}
.sc_services_item .sc_services_item_readmore {
	.scheme_color(text_dark);
}
.sc_services_item .sc_services_item_readmore span {
	.scheme_color(accent1);
}
.sc_services_item .sc_services_item_readmore:hover,
.sc_services_item .sc_services_item_readmore:hover span {
	.scheme_color(accent1_hover);
}


/*---LESS_SEPARATOR---*/


/* Services */
.sc_services_style_services-1 .sc_services_item {
	.scheme_bg_color(bg_color);
	.scheme_color(text);
}
.sc_services_style_services-1 .sc_icon,
.sc_services_style_services-2 .sc_icon {
	.scheme_color(accent1);
	.scheme_bd_color(accent1);
}
.sc_services_style_services-1 .sc_icon:hover,
.sc_services_style_services-1 a:hover .sc_icon,
.sc_services_style_services-2 .sc_icon:hover,
.sc_services_style_services-2 a:hover .sc_icon {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1);
}
.sc_services_style_services-3 a:hover .sc_icon,
.sc_services_style_services-3 .sc_icon:hover {
	.scheme_color(accent1);
	.scheme_bg_color(bg_color);
}
.sc_services_style_services-3 a:hover .sc_services_item_title {
	.scheme_color(accent1);
}
.sc_services_style_services-4 .sc_icon {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1);
}
.sc_services_style_services-4 .sc_services_item_title {
	.scheme_color(text_dark);
}
.sc_services_style_services-4 a:hover .sc_icon,
.sc_services_style_services-4 .sc_icon:hover {
	.scheme_bg_color(accent1_hover);
}
.sc_services_style_services-4 a:hover .sc_services_item_title {
	.scheme_color(accent1);
}


/* Scroll controls */
.sc_scroll_controls_wrap a {
	.scheme_bg_color(accent1);
	.scheme_color(inverse_text);
}
.sc_scroll_controls_type_side .sc_scroll_controls_wrap a {
	.scheme_bg_color(accent1, 0.8);
}
.sc_scroll_controls_wrap a:hover {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1_hover);
}
.sc_scroll_bar .swiper-scrollbar-drag:before {
	.scheme_bg_color(accent1);
}
.sc_scroll .sc_scroll_bar {
	.scheme_bd_color(alter_bg_color);
}

/* Skills */
.sc_skills_bar .sc_skills_item {
	/*.scheme_bg_color(alter_bg_color);*/
}
.sc_skills_counter .sc_skills_item .sc_skills_icon {
	.scheme_color(accent1);
}
.sc_skills_counter .sc_skills_item:hover .sc_skills_icon {
	.scheme_color(accent1_hover);
}
.sc_skills_counter .sc_skills_item .sc_skills_info {
	.scheme_color(text_dark);
}
.sc_skills_bar .sc_skills_item .sc_skills_count {
	.scheme_bd_color(accent1);
}

.sc_skills_legend_title, .sc_skills_legend_value {
	.scheme_color(text_dark);
}

.sc_skills_counter .sc_skills_item.sc_skills_style_1 {
	.scheme_bg_color(alter_bg_color);
}
.sc_skills_counter .sc_skills_item.sc_skills_style_1:hover {
	.scheme_bg_color(alter_bg_hover);
}
.sc_skills_counter .sc_skills_item.sc_skills_style_1 .sc_skills_count,
.sc_skills_counter .sc_skills_item.sc_skills_style_1 .sc_skills_info {
	.scheme_color(alter_dark);
}
.sc_skills_counter .sc_skills_item.sc_skills_style_1 .sc_skills_info:before {
	.scheme_bg_color(alter_bd_color);
}
.sc_skills_bar .sc_skills_item .sc_skills_count,
.sc_skills_counter .sc_skills_item.sc_skills_style_3 .sc_skills_count,
.sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_count,
.sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_info {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1);
}
.sc_skills_bar .sc_skills_info .sc_skills_label {
	.scheme_color(text);
}
.sc_skills_item.sc_skills_style_1 .sc_skills_total {
	.scheme_color(accent1);
}

/* Type Pie */
.sc_skills.sc_skills_pie .sc_skills_item .sc_skills_total {
	.scheme_color(accent1);
}
.sc_skills.sc_skills_pie .sc_skills_info {
	.scheme_color(text_dark);
}








/* Slider */
.sc_slider_controls_wrap a {
	.scheme_color(bd_color);
	.scheme_bd_color(bd_color);
	.scheme_bg_color(bg_color);
}
.sc_slider_controls_wrap a:hover {
	.scheme_color(accent1);
}
.sc_slider_swiper .sc_slider_pagination_wrap .swiper-active-switch,
.sc_slider_swiper .sc_slider_pagination_wrap span:hover {
	.scheme_bd_color(accent1);
	.scheme_bg_color(accent1);
}
.sc_slider_swiper .sc_slider_info {
	.scheme_bg_color(accent1, 0.8) !important;
}
.sc_slider_pagination.widget_area .post_item + .post_item {
	.scheme_bd_color(bd_color);
}
.sc_slider_pagination_over .sc_slider_pagination {
	.scheme_bg_color(alter_bg_color, 0.8);
}
.sc_slider_pagination_over .sc_slider_pagination_wrap span {
	.scheme_bd_color(bd_color);
}
.sc_slider_pagination_over .sc_slider_pagination_wrap span:hover,
.sc_slider_pagination_over .sc_slider_pagination_wrap .swiper-active-switch {
	.scheme_bd_color(accent1);
	.scheme_bg_color(accent1);
}
.sc_slider_pagination_over .sc_slider_pagination .post_title {
	.scheme_color(alter_dark);
}
.sc_slider_pagination_over .sc_slider_pagination .post_info {
	.scheme_color(alter_text);
}
.sc_slider_pagination_area .sc_slider_pagination .post_item.active {
	.scheme_bg_color(alter_bg_color) !important;
}

.sc_slider .sc_slider_pagination_wrap .swiper-pagination-bullet.swiper-pagination-bullet-active,
.sc_slider .sc_slider_pagination_wrap .swiper-pagination-bullet:hover {
	.scheme_bd_color(accent1);
	.scheme_bg_color(accent1);
}




/* Socials */






/* Tabs */
.sc_tabs.sc_tabs_style_1 .sc_tabs_title_box {
	.scheme_bg_color(accent2);
}
.sc_tabs.sc_tabs_style_1 .sc_tabs_title {
	.scheme_bg_color(accent2);
}
.sc_tabs.sc_tabs_style_1 .sc_tabs_title .theme_button {
	.scheme_color(text_dark);
}
.sc_tabs.sc_tabs_style_1 .sc_tabs_title.ui-state-hover .theme_button,
.sc_tabs.sc_tabs_style_1 .sc_tabs_title.ui-tabs-active .theme_button {
	.scheme_bg_color(accent1);
	.scheme_color(accent2);
}
.sc_tabs.sc_tabs_style_2 .sc_tabs_content {
	.scheme_bd_color(bd_color);
}
.sc_tabs.sc_tabs_style_2 .sc_tabs_title.ui-state-hover .theme_button,
.sc_tabs.sc_tabs_style_2 .sc_tabs_title.ui-tabs-active .theme_button {
	/*.scheme_bg_color(accent1);*/
	.scheme_color(text_dark);
}
.sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a span:before {
	.scheme_bg_color(bd_color);
}

.sc_tabs.sc_tabs_style_2.tabsStyle2NoBorder .sc_tabs_title .theme_button {
	.scheme_color(text_dark);
}
.sc_tabs.sc_tabs_style_2.tabsStyle2NoBorder .sc_tabs_title.ui-state-hover .theme_button,
.sc_tabs.sc_tabs_style_2.tabsStyle2NoBorder .sc_tabs_title.ui-tabs-active .theme_button {
	.scheme_color(accent1);
}










/*---LESS_SEPARATOR---*/


/* Team */
.sc_team_item .sc_team_item_info .sc_team_item_title a {
	.scheme_color(text_dark);
}
.sc_team_item .sc_team_item_info .sc_team_item_title a:hover {
	.scheme_color(accent1_hover);
}
.sc_team_item .sc_team_item_info .sc_team_item_position {
	.scheme_color(accent1);
}
.sc_team_style_team-1 .sc_team_item_info,
.sc_team_style_team-3 .sc_team_item_info {
	.scheme_bd_color(accent1);
	.scheme_color(text);
}
.sc_team.sc_team_style_team-3 .sc_socials_item a {
	.scheme_color(inverse_link);
	.scheme_bd_color(inverse_link);
}
.sc_team.sc_team_style_team-3 .sc_socials_item a:hover {
	.scheme_color(inverse_hover);
	.scheme_bd_color(inverse_hover);
}
.sc_team.sc_team_style_team-3 .sc_team_item_avatar .sc_team_item_hover {
	.scheme_bg_color(accent1, 0.8);
}
.sc_team.sc_team_style_team-4 .sc_socials_item a {
	.scheme_color(inverse_link);
	.scheme_bd_color(inverse_link);
}
.sc_team.sc_team_style_team-4 .sc_socials_item a:hover {
	.scheme_color(accent1);
	.scheme_bd_color(accent1);
}
.sc_team.sc_team_style_team-4 .sc_team_item_avatar .sc_team_item_hover {
	.scheme_color(inverse_text);
	.scheme_bg_color(text_dark, 0.8);
}
.sc_team_style_team-4 .sc_team_item_info .sc_team_item_title a {
	.scheme_color(inverse_text);
}
.sc_team_style_team-4 .sc_team_item_info .sc_team_item_title a:hover {
	.scheme_color(accent1);
}
.sc_team_style_team-4 .sc_team_item_info .sc_team_item_position {
	.scheme_color(inverse_text);
}
.sc_team.sc_team_style_team-1 .sc_team_item {
	.scheme_bg_color(accent2);
}
.sc_team.sc_team_style_team-1 .sc_team_item .sc_team_item_info {
	.scheme_bg_color(accent2);
}
.sc_team.sc_team_style_team-1 .sc_team_item .sc_team_item_info .sc_team_item_title a {
	.scheme_color(text_dark);
}
.sc_team.sc_team_style_team-1 .sc_team_item .sc_team_item_info .sc_team_item_title a:hover {
	.scheme_color(accent1);
}
.post_item_single_team .post_team_group {
	.scheme_color(accent1);
}
.post_item_single_team .sc_socials_item a {
	.scheme_color(accent1);
	.scheme_bg_color(bg_color);
	.scheme_bd_color(accent1);
}
.sc_team.sc_team_style_team-2 .sc_team_item_description:before {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1);
}
.sc_team.sc_team_style_team-2 .sc_team_item_title a {
	.scheme_color(accent1);
}
.sc_team.sc_team_style_team-2 .sc_team_item_title_socials .sc_socials_item a {
	.scheme_color(accent1);
	.scheme_bd_color(accent1);
}


.sc_team.sc_team_style_team-3 {
	.scheme_bg_color(accent2);
}
.sc_team.sc_team_style_team-3 .sc_item_title {
	.scheme_bdb_color(bd_color);
	.scheme_color(text_dark);
}
.sc_team.sc_team_style_team-3 .sc_team_item {
	.scheme_bdb_color(bd_color);
}
.sc_team.sc_team_style_team-3 .sc_team_item_title {
	.scheme_color(text);
}
.sc_team.sc_team_style_team-3 .sc_team_item_title a {
	.scheme_color(accent1);
}
.sc_team.sc_team_style_team-3 .sc_team_item_title a:hover {
	.scheme_color(accent1_hover);
	/*.scheme_color(inverse_hover);*/
}
.sc_team.sc_team_style_team-3 .sc_team_item_info .sc_team_item_position {
	.scheme_color(text);
}
.sc_team.sc_team_style_team-3 .post_team_contact_info strong {
	.scheme_color(text_dark);
}
.sc_team.sc_team_style_team-3 .post_team_contact_info hr {
	.scheme_bg_color(bd_color);
}








/* Testimonials */

.sc_testimonial_item:before {
	.scheme_color(accent1);
}
.sc_testimonial_content {
	.scheme_color(text_dark);
}
.sc_testimonial_author_name,
.sc_testimonial_author_position {
	.scheme_color(accent1);
}
.sc_testimonials .sc_slider_controls_wrap a {
	.scheme_color(accent1);
}
.sc_testimonials .sc_slider_controls_wrap a:hover {
	.scheme_color(accent1_hover);
}

/* Style 4
************************************* */
.sc_testimonials_style_testimonials-4 .sc_item_title {
	.scheme_color(accent2);
}
.sc_testimonials_style_testimonials-4 .sc_testimonial_content {
	.scheme_color(accent2);
}
.sc_testimonials_style_testimonials-4 .sc_testimonial_author_name,
.sc_testimonials_style_testimonials-4 .sc_testimonial_author_position {
	.scheme_color(accent2);
}
.sc_testimonials_style_testimonials-4 .sc_slider_controls_wrap a {
	.scheme_color(accent2);
}
.sc_testimonials_style_testimonials-4 .sc_slider_controls_wrap a:hover {
	.scheme_color(accent1);
}













/* Title */
.sc_title_icon {
	.scheme_color(accent1);
}
.sc_title_underline::after {
	.scheme_bd_color(text_dark);
}
.sc_title_divider .sc_title_divider_before,
.sc_title_divider .sc_title_divider_after {
	.scheme_bg_color(text_dark);
}

/* Toggles */
.sc_toggles.sc_toggles_style_1 .sc_toggles_item .sc_toggles_title {
	.scheme_bd_color(bd_color);
}
.sc_toggles.sc_toggles_style_1 .sc_toggles_item .sc_toggles_title .sc_toggles_icon {
	.scheme_color(alter_light);
	.scheme_bg_color(alter_bg_color);
}
.sc_toggles.sc_toggles_style_1 .sc_toggles_item .sc_toggles_title.ui-state-active {
	.scheme_color(accent1);
	.scheme_bd_color(accent1);
}
.sc_toggles.sc_toggles_style_1 .sc_toggles_item .sc_toggles_title.ui-state-active .sc_toggles_icon_opened {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1);
}
.sc_toggles.sc_toggles_style_1 .sc_toggles_item .sc_toggles_title:hover {
	.scheme_color(accent1_hover);
	.scheme_bd_color(accent1_hover);
}
.sc_toggles.sc_toggles_style_1 .sc_toggles_item .sc_toggles_title:hover .sc_toggles_icon_opened {
	.scheme_bg_color(accent1_hover);
}
.sc_toggles.sc_toggles_style_1 .sc_toggles_item .sc_toggles_content {
	.scheme_bd_color(bd_color);
}

.sc_toggles.sc_toggles_style_2 .sc_toggles_item .sc_toggles_title.ui-state-active {
	.scheme_color(accent1);
}
.sc_toggles.sc_toggles_style_2 .sc_toggles_item .sc_toggles_title .sc_toggles_icon {
	.scheme_bd_color(accent1);
	.scheme_bg_color(accent1);
	.scheme_color(inverse_text);
}
.sc_toggles.sc_toggles_style_2 .sc_toggles_item .sc_toggles_title.ui-state-active .sc_toggles_icon {
	.scheme_color(accent1);
	.scheme_bg_color(bg_color);
}
.sc_toggles.sc_toggles_style_2 .sc_toggles_item .sc_toggles_content {
	.scheme_bd_color(bd_color);
}


/* Tooltip */
.sc_tooltip_parent .sc_tooltip,
.sc_tooltip_parent .sc_tooltip:before {
	.scheme_bg_color(text_dark);
}


/* Twitter */
.sc_twitter {
	.scheme_color(text);
}
.sc_twitter .sc_slider_controls_wrap a {
	.scheme_color(inverse_text);
}

/* Common styles (title, subtitle and description for some shortcodes) */
.sc_item_subtitle {
	.scheme_color(accent1);
}
.sc_item_title:after {
	.scheme_bg_color(accent1);
}
.sc_item_button > a:before {
	.scheme_color(accent1);
	.scheme_bg_color(inverse_text);
}
.sc_item_button > a:hover:before {
	.scheme_color(accent1_hover);
}

/* Style List education */
.sc_list_educ_title {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1);
}


/* Property search */
.sc_tabs.sc_tabs_style_1.TabsPropertySearch .sc_tabs_title .theme_button {
	.scheme_color(text);
}

.sc_tabs.sc_tabs_style_1.TabsPropertySearch .sc_tabs_title.ui-tabs-active .theme_button,
.sc_tabs.sc_tabs_style_1.TabsPropertySearch .sc_tabs_title.ui-state-hover .theme_button {
	.scheme_color(text_dark);
}

.sc_tabs.sc_tabs_style_1.TabsPropertySearch .sc_tabs_title.ui-tabs-active .theme_button {
	.scheme_bg_color(accent2);
}

.sc_icon.icon5e {
	.scheme_color(accent1);
	.scheme_bg_color(accent2);
	.scheme_bd_color(accent2);
}


/* Slider header */
.zeus .tp-bullet-image {
	.scheme_bdb_color(accent2);
}
.zeus .tp-bullet-image:after {
	.scheme_bdt_color(accent2);
}
.zeus .tp-bullet.selected {
	.scheme_bg_color(accent1);
	.scheme_bd_color(accent1);
}
.zeus .tp-bullet.selected:after {
	.scheme_bg_color(accent1);
}

section.slider_wrap .zeus .tp-bullet.selected:after {
	.scheme_bg_color(accent1);
}
section.slider_wrap .zeus .tp-bullet.selected {
	.scheme_bg_color(accent1);
	.scheme_bd_color(accent1);
}

.content .search_wrap .search_form_wrap .search_submit {
   .scheme_bg_color(accent1);
}




/* Widget: BestDEALS - Most Popular&Commented Posts */
.widget_area .widget_popular_posts .sc_tabs.sc_tabs_style_2 .sc_tabs_titles .sc_tabs_title .theme_button,
.widget_area .widget_top10 .sc_tabs.sc_tabs_style_2 .sc_tabs_titles .sc_tabs_title .theme_button {
	.scheme_color(text_dark);
}
.widget_area .widget_popular_posts .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li.sc_tabs_title.ui-state-active .theme_button,
.widget_area .widget_popular_posts .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li.sc_tabs_title .theme_button:hover,
.widget_area .widget_top10 .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li.sc_tabs_title.ui-state-active .theme_button,
.widget_area .widget_top10 .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li.sc_tabs_title .theme_button:hover {
	.scheme_bg_color(accent1);
	.scheme_color(inverse_text);
}



/* IDX */

#dsidx-description {
	.scheme_color(text);
}

.wp-block-image figcaption{
	.scheme_color(accent2);
}